.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30PX;
   
}
.cart-card{
    display: flex;
    margin: 1rem;
    width:43.75rem
 
}
.desc{

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 740px) {
  .cart-card{
    width: 23.75rem
  }
}
@media (max-width: 440px) {
  .cart-card{
    width: 18.75rem
  }
}
