.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    height:100%;
    width: 100%;
  
}
.rootcontainer{
    width:100vw
}
